/* Personal CSS for the itsfood website (made by itsfood) */
html {
  scroll-behavior: smooth;
}

/* Import Bootstrap Icons */
@import url("./bootstrap-icons/bootstrap-icons.css");

/* Theme */
@media (prefers-color-scheme: light) {
  :root {
    --theme-web-bg: #ebebeb;
    --theme-text: black;
    --theme-color: white;
    --theme-primary: #007bff;
    --theme-alt: #3f3f3f;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-web-bg: #1a1a1a;
    --theme-text: white;
    --theme-color: #1f1f1f;
    --theme-primary: #007bff;
    --theme-alt: #afafaf;
  }
}

.theme-control {
  background-color: var(--theme-color);
  color: var(--theme-text);
}

.theme-control a {
  color: var(--theme-text);
  text-decoration: underline;
  transition: 150ms ease-in;
}

.theme-control a:hover {
  color: var(--theme-alt);
  text-decoration: none;
}

/* Other Adjustments */

body {
  position: relative;
  background-color: var(--theme-web-bg);
  color: var(--theme-text) !important;
  cursor: default;
  /*disables text selection*/
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/*Hides scrollbars on webKit browsers*/
body::-webkit-scrollbar {
  display: none;
}

/* Navbar */
nav {
  background-color: var(--theme-color);
  color: var(--theme-alt);
  font-size: 1.3rem;
  height: 4rem;
}
.navbar {
  background-color: var(--theme-color) !important;
}

.nav {
  left: 120px;
}

.nav-link {
  color: var(--theme-alt) !important;
  transform: scale(1);
  transition: 150ms ease;
}

.nav-link:hover {
  color: var(--theme-text) !important;
}

.active #navbar-youtube,
.nav-link:hover #navbar-youtube {
  color: #ff0000 !important;
}

.active #navbar-twitch,
.nav-link:hover #navbar-twitch {
  color: #6441a4 !important;
}

.active #navbar-discord,
.nav-link:hover #navbar-discord {
  color: #5865f2 !important;
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    width: 65px !important;
    height: 75px !important;
    border-top-right-radius: 50% !important;
    border-bottom-left-radius: 0% !important;
    position: absolute;
    top: -5px !important;
    left: -5px !important;
  }

  .nav {
    left: 70px !important;
  }
}

.navbar-brand {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute !important;
  top: -5px !important;
  opacity: 1;
}

.active {
  color: var(--theme-text) !important;
  transform: scale(1.15);
}

.nav-link #navbar-youtube,
.nav-link #navbar-twitch,
.nav-link #navbar-home,
.nav-link #navbar-discord {
  transition: 150ms ease-in;
}

a:hover {
  cursor: pointer;
}

.card {
  border: none;
  border-radius: 0.7rem;
  overflow: hidden;
}
.card-body .card {
  background-color: var(--theme-web-bg);
}

.embed-youtube {
  width: 100%;
  aspect-ratio: 16/9;
}
.embed-twitch {
  width: 100%;
  aspect-ratio: 16/9;
}

.btn {
  text-decoration: none !important;
  color: white !important;
}
.btn:hover {
  color: white !important;
}
.btn:active {
  transform: scale(0.95);
}

.btn-twitch {
  background-color: #6441a4;
  transition: 300ms ease !important;
}

.btn-twitch:hover {
  background-color: rgb(65, 42, 107);
}

.btn-youtube {
  background-color: red;
  transition: 300ms ease !important;
}
.btn-youtube:hover {
  background-color: rgb(175, 0, 0);
}

.btn-discord {
  background-color: rgb(89, 102, 242);
  transition: 300ms ease !important;
}

.btn-discord:hover {
  background-color: rgb(68, 79, 201);
}

.currentBrowser {
  color: var(--theme-text) !important;
  fill: var(--theme-text) !important;
}

#bgTop {
  background-image: url(../img/gradient.png);
  background-size: cover;
  height: fit-content;
  width: 100vw;
}

/* Animations */
.pulse {
  animation: pulse 1500ms ease-out infinite;
}

.hover-pulse:hover {
  animation: pulse 1500ms ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.grow {
  animation: grow 1000ms ease;
}

.hover-grow:hover {
  animation: grow 1000ms ease;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}
