/* Personal CSS for the itsfood website (made by itsfood) */
html {
  scroll-behavior: smooth;
}

/* Fonts */
@font-face {
  font-family: "Fluro";
  src: url("./fonts/fluro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fluro";
  src: url("./fonts/fluro-light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Fluro";
  src: url("./fonts/fluro-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fluro";
  src: url("./fonts/fluro-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Fluro";
  src: url("./fonts/fluro-bold-outline.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

/* Theme */
@media (prefers-color-scheme: light) {
  :root {
    --theme-web-bg: #ebebeb;
    --theme-text: black;
    --theme-color: white;
    --theme-primary: #007bff;
    --theme-alt: #3f3f3f;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-web-bg: #1a1a1a;
    --theme-text: white;
    --theme-color: #1f1f1f;
    --theme-primary: #007bff;
    --theme-alt: #afafaf;
  }
}

.theme-control {
  background-color: var(--theme-color);
  color: var(--theme-text);
}

.theme-control a {
  color: var(--theme-text);
  text-decoration: underline;
  transition: 150ms ease-in;
}

.theme-control a:hover {
  color: var(--theme-alt);
  text-decoration: none;
}

/* Other Adjustments */
body {
  position: relative;
  background-color: var(--theme-web-bg);
  color: var(--theme-text) !important;
  cursor: default;
  overflow-x: hidden;
  /*disables text selection*/
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

  font-family: "Fluro", sans-serif;
  font-weight: 400;
  /* font-size: 22px; */
}

/*Hides scrollbar on webKit browsers*/
body::-webkit-scrollbar {
  display: none;
}

.loader {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fluro", sans-serif;
  font-weight: 600;
}

.text-muted {
  font-weight: 200;
  color: var(--theme-text) !important;
}

/* Images */
.page-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-title img {
  width: 25%;
  min-width: 230px;
}
@media (prefers-color-scheme: light) {
  .page-title {
    filter: invert();
  }
}
/* @media (max-width: 768px) {
  .page-title {
    width: 50%;
  }
} */

/* Navbar */
#navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  #navbar {
    flex-direction: row;
    top: calc(100% - 55px) !important;
    height: 55px;
    width: 100vw;
    background-color: var(--theme-color);
  }
}

.nav-link {
  color: var(--theme-alt) !important;
  transform: scale(1);
  transition: 150ms ease;
}

.nav-link:hover {
  color: var(--theme-text) !important;
}

.active #navbar-youtube,
.nav-link:hover #navbar-youtube {
  color: #ff0000 !important;
}

.active #navbar-streaming,
.nav-link:hover #navbar-streaming {
  color: #4185a4 !important;
}

.active #navbar-discord,
.nav-link:hover #navbar-discord {
  color: #5865f2 !important;
}

.navbar .active {
  color: var(--theme-text) !important;
  transform: scale(1.2);
}

.nav-link #navbar-youtube,
.nav-link #navbar-streaming,
.nav-link #navbar-home,
.nav-link #navbar-discord {
  transition: 150ms ease-in;
}

a:hover {
  cursor: pointer;
}

/* Cards */
.card {
  border: none;
  border-radius: 0.7rem;
  overflow: hidden;
  background-color: var(--theme-color);
}
.card-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 3rem 0;
}
.card-content .card-header {
  background-color: var(--theme-color);
  border-bottom: none;
}
.card-content .card-header h3 {
  margin: 0;
}
.card-body .card {
  background-color: var(--theme-web-bg);
}
.card-body .card-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.card-links a span {
  display: inline;
}
@media (max-width: 768px) {
  .card-body .card-links {
    justify-content: center;
  }
  .card-links a {
    padding: 1rem 1.3rem;
  }
  .card-links a span {
    display: none;
  }
}
.card-image {
  border-radius: 0.7rem;
  margin-bottom: 1rem;
  width: 100%;
}

/* Card Decks */
.card-body .card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.card-body .card-deck-mini {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .card-body .card-deck,
  .card-body .card-deck-mini {
    flex-direction: column;
  }
  .card-body .card-deck .card-item,
  .card-body .card-deck-mini .card-item {
    margin: 1rem 0;
  }
}

.card-body .card-deck .card-item {
  width: 100%;
  max-width: 420px;
  margin: 1rem 0.2rem;
  border-radius: 0.7rem;
  background-color: var(--theme-web-bg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.card-item .item-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card-body .card-deck-mini .card-item {
  width: 100%;
  max-width: 380px;
  min-height: 180px;
  margin: 1rem 0.2rem;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: var(--theme-web-bg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-item a {
  display: inline-block;
}

/* Card Sections */
.card-body section {
  margin: 1rem 0;
}
.card-body section.bicol {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-body section.bicol.col-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .card-body section.bicol {
    flex-direction: column;
  }
  .card-body section.bicol.col-reverse {
    flex-direction: column;
  }
}

/* Calendar */
.card-calendar {
  margin: 1rem 0;
  padding: 0.5rem;
  opacity: 0.5;
}
.card-day {
  margin: 0.5rem;
  width: 100%;
}
.card-day .card-title {
  padding-bottom: 2.5rem;
}
.card-time {
  width: 100%;
  border-radius: 0.7rem;
  color: #4185a4;
  border: 2px solid #4185a4;
  background-color: #c4ecff;
  display: flex;
  align-items: center;
}
.card-time b {
  margin-left: 0.5rem;
}

/* Timeline */
.timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.timeline-line {
  position: absolute;
  height: 0;
  width: 100%;
  z-index: 0;
  border: 1px solid #4185a4;
}
.timeline-item {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.7rem;
  border: 1px solid #4185a4;
  background-color: #c4ecff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 1;
}
.timeline-item.item-todo {
  border: 1px dashed #4185a4;
  font-style: italic;
}
.timeline-item * {
  color: #4185a4 !important;
  padding: 0;
  margin: 0;
}

/* Embeds */
.embed-youtube,
.embed-streaming {
  width: 100%;
  height: calc(100% * 1.7777777778);
  aspect-ratio: 1.7777777778 !important;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}
.embed-kofi {
  width: 100%;
  aspect-ratio: 1 !important;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}

.embed-streaming iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

/* Alerts */
.alert {
  border-radius: 0.7rem;
}
.alert-youtube {
  color: #ff0000 !important;
  border: 2px solid #ff0000 !important;
  background-color: #ffd5d5 !important;
}
.alert-streaming {
  color: #4185a4 !important;
  border: 2px solid #4185a4 !important;
  background-color: #c4ecff !important;
}

/* Buttons */
.btn {
  border-radius: 0.7rem;
  text-decoration: none !important;
  background-color: transparent !important;
  /* color: white !important; */
  font-weight: bold;
}
.btn:hover {
  color: white !important;
}
.btn:active {
  transform: scale(0.95);
}

.btn-primary {
  color: #3281e2 !important;
  border: 1px solid #3281e2 !important;
}
.btn-primary:hover {
  background-color: #3281e2 !important;
}

.btn-gold {
  color: #ffcb30 !important;
  border: 1px solid #ffcb30 !important;
}
.btn-gold:hover {
  background-color: #ffcb30 !important;
}

.btn-green {
  color: #24bc59 !important;
  border: 1px solid #24bc59 !important;
}
.btn-green:hover {
  background-color: #24bc59 !important;
}

.btn-streaming {
  color: #4185a4 !important;
  border: 1px solid #4185a4 !important;
  transition: 300ms ease !important;
}
.btn-streaming:hover {
  background-color: #4185a4 !important;
}

.btn-youtube {
  color: red !important;
  border: 1px solid red !important;
  transition: 300ms ease !important;
}
.btn-youtube:hover {
  background-color: red !important;
}

.btn-discord {
  color: rgb(89, 102, 242) !important;
  border: 1px solid rgb(89, 102, 242) !important;
  transition: 300ms ease !important;
}

.btn-discord:hover {
  background-color: rgb(89, 102, 242) !important;
}

.currentBrowser {
  color: var(--theme-text) !important;
  fill: var(--theme-text) !important;
}

#bgTop {
  background-image: url(../img/gradient.png);
  background-size: cover;
  height: fit-content;
  width: 100vw;
}

/* Animations */
.pulse {
  animation: pulse 1500ms ease-out infinite;
}

.hover-pulse:hover {
  animation: pulse 1500ms ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.grow {
  animation: grow 1000ms ease;
}

.hover-grow:hover {
  animation: grow 1000ms ease;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

/* Footer */
div.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
